.font-xxxs {
  font-size: 7px !important; }

.font-xxs {
  font-size: 9px !important; }

.font-xs {
  font-size: 11px !important; }

.font-s {
  font-size: 12px !important; }

.font-m-s {
  font-size: 14px !important; }

.font-m {
  font-size: 16px !important; }

.font-m-l {
  font-size: 18px !important; }

.font-l {
  font-size: 21px !important; }

.font-xl {
  font-size: 24px !important; }

.font-xxl {
  font-size: 28px !important; }

.font-xxxl {
  font-size: 33px !important; }

.font-xxxxl {
  font-size: 40px !important; }

@media screen and (min-width: 0px) {
  .font-xs-xxxs {
    font-size: 7px !important; }

  .font-xs-xxs {
    font-size: 9px !important; }

  .font-xs-xs {
    font-size: 11px !important; }

  .font-xs-s {
    font-size: 12px !important; }

  .font-xs-m-s {
    font-size: 14px !important; }

  .font-xs-m {
    font-size: 16px !important; }

  .font-xs-m-l {
    font-size: 18px !important; }

  .font-xs-l {
    font-size: 21px !important; }

  .font-xs-xl {
    font-size: 24px !important; }

  .font-xs-xxl {
    font-size: 28px !important; }

  .font-xs-xxxl {
    font-size: 33px !important; }

  .font-xs-xxxxl {
    font-size: 40px !important; } }
@media screen and (min-width: 640px) {
  .font-sm-xxxs {
    font-size: 7px !important; }

  .font-sm-xxs {
    font-size: 9px !important; }

  .font-sm-xs {
    font-size: 11px !important; }

  .font-sm-s {
    font-size: 12px !important; }

  .font-sm-m-s {
    font-size: 14px !important; }

  .font-sm-m {
    font-size: 16px !important; }

  .font-sm-m-l {
    font-size: 18px !important; }

  .font-sm-l {
    font-size: 21px !important; }

  .font-sm-xl {
    font-size: 24px !important; }

  .font-sm-xxl {
    font-size: 28px !important; }

  .font-sm-xxxl {
    font-size: 33px !important; }

  .font-sm-xxxxl {
    font-size: 40px !important; } }
@media screen and (min-width: 1024px) {
  .font-md-xxxs {
    font-size: 7px !important; }

  .font-md-xxs {
    font-size: 9px !important; }

  .font-md-xs {
    font-size: 11px !important; }

  .font-md-s {
    font-size: 12px !important; }

  .font-md-m-s {
    font-size: 14px !important; }

  .font-md-m {
    font-size: 16px !important; }

  .font-md-m-l {
    font-size: 18px !important; }

  .font-md-l {
    font-size: 21px !important; }

  .font-md-xl {
    font-size: 24px !important; }

  .font-md-xxl {
    font-size: 28px !important; }

  .font-md-xxxl {
    font-size: 33px !important; }

  .font-md-xxxxl {
    font-size: 40px !important; } }
@media screen and (min-width: 1200px) {
  .font-lg-xxxs {
    font-size: 7px !important; }

  .font-lg-xxs {
    font-size: 9px !important; }

  .font-lg-xs {
    font-size: 11px !important; }

  .font-lg-s {
    font-size: 12px !important; }

  .font-lg-m-s {
    font-size: 14px !important; }

  .font-lg-m {
    font-size: 16px !important; }

  .font-lg-m-l {
    font-size: 18px !important; }

  .font-lg-l {
    font-size: 21px !important; }

  .font-lg-xl {
    font-size: 24px !important; }

  .font-lg-xxl {
    font-size: 28px !important; }

  .font-lg-xxxl {
    font-size: 33px !important; }

  .font-lg-xxxxl {
    font-size: 40px !important; } }
@media screen and (min-width: 1200px) {
  .font-xl-xxxs {
    font-size: 7px !important; }

  .font-xl-xxs {
    font-size: 9px !important; }

  .font-xl-xs {
    font-size: 11px !important; }

  .font-xl-s {
    font-size: 12px !important; }

  .font-xl-m-s {
    font-size: 14px !important; }

  .font-xl-m {
    font-size: 16px !important; }

  .font-xl-m-l {
    font-size: 18px !important; }

  .font-xl-l {
    font-size: 21px !important; }

  .font-xl-xl {
    font-size: 24px !important; }

  .font-xl-xxl {
    font-size: 28px !important; }

  .font-xl-xxxl {
    font-size: 33px !important; }

  .font-xl-xxxxl {
    font-size: 40px !important; } }

/*# sourceMappingURL=style_utils.css.map */
