
$white: #fff;
$black: #000;
$primario: #38c12d;
$primario_a: #48b12a;
$primario_b: #28d136;
$secundario: #42B27F;
$terciario: #65B811;
$neutral_claro: #eee;
$neutral_medio: #aaa;
$neutral_oscuro: #131416;

$naranja: #EC7237;
$amarillo: #ECC737;

$lista-colores: (
  blanco   $white,
  negro   $black,
  "red"   #f00,
  "white"   $white,
  "black"   $black,
  primario   $primario,
  primario_a   $primario_a,
  primario_b   $primario_b,
  secundario $secundario,
  terciario $terciario,
  neutral_claro $neutral_claro,
  neutral_medio $neutral_medio,
  neutral_oscuro $neutral_oscuro,
  naranja $naranja,
  amarillo $amarillo,
);


@each $value in $lista-colores {

	   .color-#{nth($value, 1)} {
			& {
				color: nth($value, 2) !important;
			}
	   }
	   .color-#{nth($value, 1)}-bg {
			& {
				background-color: nth($value, 2) !important;
			}
	   }
	   .color-#{nth($value, 1)}-bd {
			& {
				border: 1px solid white;
				border-color: nth($value, 2) !important;
			}
	   }

	   .color-#{nth($value, 1)}-hover:hover {
			& {
				color: nth($value, 2) !important;
			}
	   }
	   .color-#{nth($value, 1)}-hover-bg:hover {
			& {
				background-color: nth($value, 2) !important;
			}
	   }
	   .color-#{nth($value, 1)}-hover-bd:hover {
			& {
				border: 1px solid white;
				border-color: nth($value, 2) !important;
			}
	   }


}
