
$directions: (
   t top,
   r right,
   b bottom,
   l left
);



   .p {

   }
@for $i from 0 through 40 {

      @each $value in $directions {

      $step: floor($i/4);
      $fraction: ($i % 4);
      @if $fraction == 0 {

         $padding: ($spacing * $step);

         .p-#{$step} {
            padding: $padding;
         }
         .p-#{nth($value,1)}-#{$step} {
            padding-#{nth($value,2)}: $padding;
         }

      }
      @else {


         $padding: ($spacing * $step) + (($spacing/4)*$fraction);

         .p-#{$step}-#{$fraction} {
            padding: $padding;
         }
         .p-#{nth($value,1)}-#{$step} {
            padding-#{nth($value,2)}: $padding;
         }
         

      }

   }

}
