$directions: (
   t top,
   r right,
   b bottom,
   l left
);

$classes_and_properties: (
   p padding,
   m margin
);


@each $class_and_property in $classes_and_properties {

   @debug "Generating classes for: #{nth($class_and_property,2)}";
   @for $i from 0 through 40 {

      $class_name: #{nth($class_and_property,1)};
      $property_name: #{nth($class_and_property,2)};

      $step: floor($i/4);
      $fraction: ($i % 4);

      @if $fraction == 0 {
         $property_value: ($spacing * $step);

         .#{$class_name}-#{$step} {
            #{$property_name}: $property_value;
         }

      }
      @else {
         $property_value: ($spacing * $step) + (($spacing/4)*$fraction);

         .#{$class_name}-#{$step}-#{$fraction} {
            #{$property_name}: $property_value;
         }

      }





      @each $breakpoint in $breakpoints {
         @media screen and (min-width: #{nth($breakpoint,2)}) {

            @if $fraction == 0 {

               $property_value: ($spacing * $step);

               .#{$class_name}-#{nth($breakpoint,1)}-#{$step} {
                  #{$property_name}: $property_value;
               }

               @each $direction in $directions {
                  .#{$class_name}-#{nth($direction,1)}-#{nth($breakpoint,1)}-#{$step} {
                     #{$property_name}-#{nth($direction,2)}: $property_value;
                  }

               }

            }
            @else {

               $property_value: ($spacing * $step) + (($spacing/4)*$fraction);

               .#{$class_name}-#{nth($breakpoint,1)}-#{$step}-#{$fraction} {
                  #{$property_name}: $property_value;
               }

               @each $direction in $directions {
                  .#{$class_name}-#{nth($direction,1)}-#{nth($breakpoint,1)}-#{$step}-#{$fraction} {
                     #{$property_name}-#{nth($direction,2)}: $property_value;
                  }

               }

            }
         }
      }

   }


}
