$full_height:true;

$breakpoint_md:640px;
$breakpoint_lg:1024px;
$breakpoint_xl:1400px;

$step:5;
$step_value_pct:5%;
$step_value_vh:5vh;
$step_value_vw:5vw;
$num_steps:20;

@if $full_height {
   @debug "$full_height is #{$full_height}";
   div,header,footer,section,article {
      height: 100%;
   }
}

@for $i from 1 through $num_steps {

   // percentage
   .w-#{($i * $step)} { width: $step_value_pct * $i; }
   .h-#{($i * $step)} { height: $step_value_pct * $i; }
   .wh-#{($i * $step)} { width: $step_value_pct * $i; height: $step_value_pct * $i; }

   // viewport percentage
   .w-#{($i * $step)}-v { width: $step_value_vw * $i; }
   .h-#{($i * $step)}-v { height: $step_value_vh * $i; }
   .wh-#{($i * $step)}-v { width: $step_value_vw * $i; height: $step_value_vh * $i; }

   @media screen and (max-width:$breakpoint_md) {

      // percentage
      .w-#{($i * $step)}-sm { width: $step_value_pct * $i !important; }
      .h-#{($i * $step)}-sm { height: $step_value_pct * $i !important; }
      .wh-#{($i * $step)}-sm { width: $step_value_pct * $i !important; height: $step_value_pct * $i !important; }

      // viewport percentage
      .w-#{($i * $step)}-sm-v { width: $step_value_vw * $i !important; }
      .h-#{($i * $step)}-sm-v { height: $step_value_vh * $i !important; }
      .wh-#{($i * $step)}-sm-v { width: $step_value_vw * $i !important; height: $step_value_vh * $i !important; }

   }

   @media screen and (min-width:$breakpoint_md+1) {

      // percentage
      .w-#{($i * $step)}-md { width: $step_value_pct * $i !important; }
      .h-#{($i * $step)}-md { height: $step_value_pct * $i !important; }
      .wh-#{($i * $step)}-md { width: $step_value_pct * $i !important; height: $step_value_pct * $i; }

      // viewport percentage
      .w-#{($i * $step)}-md-v { width: $step_value_vw * $i !important; }
      .h-#{($i * $step)}-md-v { height: $step_value_vh * $i !important; }
      .wh-#{($i * $step)}-md-v { width: $step_value_vw * $i !important; height: $step_value_vh * $i; }

   }

   @media screen and (min-width:$breakpoint_lg+1) {

      // percentage
      .w-#{($i * $step)}-lg { width: $step_value_pct * $i !important; }
      .h-#{($i * $step)}-lg { height: $step_value_pct * $i !important; }
      .wh-#{($i * $step)}-lg { width: $step_value_pct * $i !important; height: $step_value_pct * $i; }

      // viewport percentage
      .w-#{($i * $step)}-lg-v { width: $step_value_vw * $i !important; }
      .h-#{($i * $step)}-lg-v { height: $step_value_vh * $i !important; }
      .wh-#{($i * $step)}-lg-v { width: $step_value_vw * $i !important; height: $step_value_vh * $i; }

   }

   @media screen and (min-width:$breakpoint_xl+1) {

      // percentage
      .w-#{($i * $step)}-xl { width: $step_value_pct * $i !important; }
      .h-#{($i * $step)}-xl { height: $step_value_pct * $i !important; }
      .wh-#{($i * $step)}-xl { width: $step_value_pct * $i !important; height: $step_value_pct * $i; }

      // viewport percentage
      .w-#{($i * $step)}-xl-v { width: $step_value_vw * $i !important; }
      .h-#{($i * $step)}-xl-v { height: $step_value_vh * $i !important; }
      .wh-#{($i * $step)}-xl-v { width: $step_value_vw * $i !important; height: $step_value_vh * $i; }

   }

}


.h-a {
   height: auto;
}

.w-a {
   width: auto;
}
.wh-a {
   width: auto;
   height: auto;
}

@each $breakpoint in $breakpoints {

   @media screen and ( min-width: #{nth($breakpoint,2)} ) {


         .h-#{nth($breakpoint,1)}-a {
            height: auto;
         }

         .w-#{nth($breakpoint,1)}-a {
            width: auto;
         }
         .wh-#{nth($breakpoint,1)}-a {
            width: auto;
            height: auto;
         }


   }

}
